.App {
  text-align: center;
}

.LeftMostCol {
  text-align: left;
  width: ;
}
.together {
  margin: 0;
}

.row {
  --bs-gutter-x: 0 !important;
}

.row >

.keys {
  border: solid black 2px;
  height: 100px;
  width: 30px;
}
.keys > #Db2, #Eb2, #Gb2, #Ab2, #Bb2, #Db3, #Eb3, #Gb3, #Ab3, #Bb3, #Db4, #Eb4, #Gb4, #Ab4, #Bb4, #Db5, #Eb5 {
  background-color: black;
  color: white;
  height: 50px;
  width: 20px;
  z-index: +1;
}
.keys-highlight {
  border: solid black 2px;
  height: 100px;
  width: 20px;
  background-color: pink;
}

#player {
  position: relative;
  /* margin: 2% 5% auto 5%; */
  margin-top: 2%;
  width: 90%;
  max-width: 500px;
  height: 150px;
  background: rgba(255, 255, 255, 0.664);
}

#player::before {
  position: absolute;
  content: '';
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: linear-gradient(to left, #007db5, #ff8a00);
  z-index: -1;
}

#play-icon {
  position: relative;
  margin: 20px 2.5% 20px 2.5%;
}

#stop-icon {
  position: relative;
  margin: 20px 2.5% 20px 2.5%;
}
#tempo-form {
  position: absolute;
  left: 50%;
  top: 0;
}