.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
}

.sub-main {
  padding: 20px;
  width: 100%;
  border-style: solid;
  height: fit-content;
}

.tools {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.instrument-form {
  display: flex;
  justify-content: space-evenly;
}

.presets {
  border: solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  max-width: 30%;
}

#preset-buttons > button, #preset-add-delete {
  margin: 5px;
}

.tools > form, .tempo-form, .tempo-form > form, .loop-controls {
  display: flex;
  flex-direction: column;
}

.player {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

#instrument-row {
  display: flex;
  flex-wrap: wrap;
}

#instrument-name {
  border: solid black;
  min-width: auto;
  width: 10%;
  font-size: 1.5em
}

#inner-div, #inner-div > button {
  margin: 0 5px 0 5px;
  display: flex;
  justify-content: space-between;
}

/* #selected, #unselected {
  width: 25px;
  height: 25px;
} */