.App {
  text-align: center;
  height: 100vh;
}

.LeftMostCol {
  text-align: left;
}

.together {
  margin: 0;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
}

.sub-main {
  padding: 20px;
  width: 100%;
  border-style: solid;
  height: fit-content;
}