.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
}

.sub-main {
  padding: 20px;
  width: 100%;
  border-style: solid;
  height: fit-content;
}

.tools {
  display: flex;
  justify-content: space-between;
}

.instrument-form {
  display: flex;
}

.presets {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tools > form {
  display: flex;
  flex-direction: column;
}